# hk_racing_project/config/config.yaml.example
# ... other settings ...

google_cloud:
  project_id: "your-gcp-project-id-goes-here"
  bq_dataset_id_: "your_bq_dataset_name"
  bq_dataset_id: "your_bq_dataset_name"
